* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(7 1fr);
  margin: 1.5rem auto 2rem auto;
  background-color: black;
  height: calc(100vh - 3.5rem);
  width: 373px;
  padding: 1rem;
  gap: 0.5rem;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 208, 208);
  color: black;
  height: 65px;
  width: 75px;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 400;
}
.box1 {
  height: 65px;
  width: 75px;
  background-color: gray;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 178, 22);
  color: white;
  height: 65px;
  width: 75px;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 400;
}
.ekran {
  height: 2rem;
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  background-color: gray;
  height: 140px;
  border-radius: 20px;
}
/* .ac {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
} */
/* .işlem {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
} */
/* .yuzde {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
} */
/* .bolme {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
.yedi {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.sekiz {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.dokuz {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.çarpma {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}
.dort {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
.bes {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.alti {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}
.cikarma {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}
.bir {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}
.iki {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}
.üc {
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}
.toplama {
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
} */
.sifir {
  grid-area: 7/1/8/3;
  background-color: gray;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.5rem;
  border-radius: 50px;
  color: white;
  height: 65px;
  width: 170px;
}
/* .nokta {
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
}
.esittir {
  grid-column: 4 / span 1;
  grid-row: 6 / span 1;
} */
